<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>
        GabenShop - магазин компьютерных игр
        @Html.Action("Summary", "Cart")
    </h2>
    <div>
        <div>
            @Html.Action("Menu", "Nav")
        </div>
        @RenderBody()
    </div>
</body>
</html>