<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
@model GabenShop.WebUI.Models.Login
@{
    ViewBag.Title = "Регистрация";
}

@using (Html.BeginForm())
{
    <div id="regist">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        
        <ul>
            Логин
            <li>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "registIn", pattern = "[a-zA-Z0-9]{5,40}", required = "required" } })
            </li>
            <br />
            Пароль
            <li>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "registIn", pattern = "[a-zA-Z0-9]{5,40}", required = "required" } })
            </li>
            @**@<br />
                Подтвердите пароль
                <li>
                    <input id="confpassword" class="registIn" placeholder="Confirm password" type="password" />
                </li>
                <li class="ifEmpty">Пароли не совпадают</li>
        </ul>
        <input type="submit" value="Регистрация" id="submit" />
    </div>
}
<script>
    $(document).ready(function () {
        $('form').submit(function () {
            if ($("#Password").val() != $("#confpassword").val()) {
                $(".ifEmpty").slideDown(1000);
                $("#confpassword").css("color", "red");
                return false;
            }
        });        
    });
</script>


#