@model GabenShop.Domain.Entities.Product

<div class="img"><a href="#"><img src="images/post6.jpg" alt=""></a></div>
<div class="info">
    <a href="#" class="title">Title</a>
    <div class="price">
        <span class="usual">usual price </span>&nbsp;
        <span class="special">price after sales</span>
    </div>
</div>

