@model GabenShop.Domain.Entities.Product
<div class="info" style="visibility:hidden;" onload="this.style.visibility='visible'">
    <a class="twitter-timeline" href="https://twitter.com/OffGabenShop">Tweets by OffGabenShop</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

