@using GabenShop.WebUI.Models
@using GabenShop.WebUI.HtmlHelpers
@model ProductsListViewModel

@{
    ViewBag.Title = "Товары";
}




<section id="content">
    <!-- Defining the content section #2 -->
    <div id="left">
        <h3>Товары</h3>
        <div id="products">
            <ul>
                @foreach (var p in @Model.Products)
            {
                    @Html.Partial("ProductSummary", p)
                }
            </ul>
        </div>      
        <br />  
        <div id="page">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
             new { page = x, category = Model.CurrentCategory }))            
        </div>
    </div>
    <div id="right">
        <h3>Скидки</h3>
        <ul>
            <li>
                @Html.Action("Discount","Product")                
            </li>
        </ul>
    </div>
</section>
